body {
    background-image: url(https://moodle.eggeducacion.app/pluginfile.php/1/theme_remui/section_html/995222360/Header-Moodle_4.jpg);
    background-size: cover;   
    background-repeat: no-repeat;
}