table {
    border-collapse: collapse;
    width: 23em;
    height: 11em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table .cabecera {
 background-image: url("imagenes/fondo_gris.gif");
}

table .row_impar {
    background-color: rgb(253, 239, 200);
}

table .divisa {
    background-color: #E6F3FF;
    text-align: left;
    padding-left: 18px;
}

#euro {
    background-image: url("imagenes/euro.png");
    background-repeat: no-repeat;
    background-position: center left;
    
}

#dolar {
    background-image: url("imagenes/dolar.png");
    background-repeat: no-repeat;
    background-position: center left;
    
}

#libra {
    background-image: url("imagenes/libra.png");
    background-repeat: no-repeat;
    background-position: center left;
    
}

#yen {
    background-image: url("imagenes/yen.png");
    background-repeat: no-repeat;
    background-position: center left;
    
}